.cart-list{
    display: flex;
margin-top: 50px;
margin-left: 20px;
align-items: center;
gap: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 10px;
width: 600px;
border-radius: 10px;
}


.cart-list>img{
    height: 150px;
    border-radius: 10px;
}